<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
    <a class="navbar-brand" href="/page-top">UNTIRTA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapes navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/matematika">MATEMATIKA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dosen">DOSEN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mahasiswa">MAHASISWA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/penelitian">PENELITIAN</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="search" aria-label="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>